_site/*
Gemfile.lock
node_modules/*
.idea/*
tests/results/*
.idea/workspace.xml
.gitignore
./_posts/documentation/*
_posts/documentation/2014-10-29-documentation.md
_posts/documentation/2014-10-30-documentation.md
