---
layout: page
categories:
- template
tagline:
tags:
- example
published: true
---


{% capture m %}<div ng-controller='DocCtrl'>{% endcapture %}
{{ m | textify }}
{{> main}}
{% capture m %}</div>{% endcapture %}
{{ m | textify }}