---
layout: page
categories:
- template
tagline:
tags:
- example
published: true
---

<!-- https://github.com/github/markup/tree/master#html-sanitization -->
{% capture m %}<div ng-controller='DocCtrl'>{% endcapture %}
{ m | markdownify }
{{> main}}
</div>